*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#global{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/*Zone principale*/

table{
  border : 1px solid  #333;
  width: 900px;
  height: 600px;
  margin: 0 auto;
  border-collapse: collapse;
}	

caption{
  height: 50px;
  background-color: black;
}

th, td{
  border : 1px solid  #333;
  text-align: center;
}

details{
  margin-left: 0 auto;
  color: white;
}

/*Différentes classes*/

.warmup{
  background: hsla(0, 100%, 50%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 100%, 50%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 100%, 50%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 100%, 50%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0000", endColorstr="#FFFFFF", GradientType=1 );
}

.gym{
  background: hsla(0, 0%, 100%, 1);

background: radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(183, 94%, 79%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(183, 94%, 79%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(183, 94%, 79%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#97F7FC", GradientType=1 );
}
			
.muscu{
  background: hsla(0, 0%, 100%, 1);

background: radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(303, 100%, 48%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(303, 100%, 48%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(303, 100%, 48%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#F700EA", GradientType=1 );
}

.trai{
  background: hsla(0, 0%, 100%, 1);

background: radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(28, 100%, 48%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(28, 100%, 48%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(28, 100%, 48%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#F77300", GradientType=1 );
}

/*Balise de thead,tbody et tfoot*/
thead{
  background-color: lightgreen;
}

tbody{
  background-color: lightgreen;
}

tfoot{
  background-color: gray;
}

/*CSS avancés*/

th[scope="row"], th[scope="col"]{
  background-color: yellow;
}

			
